.button {
  font-size: 32px;
  padding: 16px 32px;
  margin: 16px;
  background-color: red;
}

.padding {
  font-size: 32px;
  padding: 16px 32px;
  margin: 16px;
}

.button.animate {
  transition: 300ms ease-in-out;
}

.button:hover {
  background-color: blue;
}

.button:active {
  background-color: white;
}

.box {
  width: 150px;
  height: 150px;
  background-color: red;

  transition: 300ms ease-in-out;
}

.box:hover {
  transform: rotate(180deg) scale(1.5);
}

h1.blink {
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert2 {
  display: flex;
  align-items: center;
  font-size: 28px;
  background-color: #eee;
  color: black;
  width: 100%;
}

.alert2:first-child {
  margin-right: 1rem;
}

.alert2.danger {
  background-color: red;
  color: white;
}

.alert-container {
  display: flex;
}

.ellipsis {
  display: block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem auto;
}

.red {
  color: red;
  background-color: white;
}

.italic {
  font-style: italic;
}
